
#*.pyc
#*.pyo
#*.pyd
*.log
*.snm
*.out
*.nav
*.aux
*.pdf
*.toc


._.ipynb_checkpoints
._.gitignore
._main.tex
._README.md
._requirements.txt
._preamble.tex
._tex

#.gitignore

.ipynb_checkpoints/
versions/
outputs/
animations/

