
#*.pyc
#*.pyo
#*.pyd
*.log
*.snm
*.out
*.nav
*.aux
*.pdf
*.toc
*.fdb_latexmk
*.fls


._.ipynb_checkpoints
._.gitignore
._main.tex
._README.md
._requirements.txt
._preamble.tex
._tex

#.gitignore

.ipynb_checkpoints/


figures/._.DS_Store